body{
    margin: 0;
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.for.con{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44,62,80,0.7);
    border-radius: 04px;
    margin: 0 auto;
    margin-top: 160px;
}